
RewriteEngine On   				# Ativa o módulo de reescrita de URL no Apache. 

# caso eu queira aplica essa egra só pra coaminhos não existentes 
# RewriteCond %{REQUEST_FILENAME} !-f		# condição é verdadeira quando o arquivo NÃO existe
# RewriteCond %{REQUEST_FILENAME} !-d		# condição é verdadeira quando o diretório NÃO existe

# Redireciona todas as URLs que não correspondem a um arquivo ou diretório existente para o arquivo "index.php". 
# "?uri=$1" anexa a URL original como um parâmetro GET chamado "uri". 
# "QSA" significa que os parâmetros de consulta existentes são preservados e 
# "L" 	é um sinalizador que indica que esta é a última regra a ser processada.

RewriteRule ^(.*)$ index.php?uri=$1 [QSA,L]


